=== Modelo Conceitual ===
<img src="conceitual.png">

=== Modelo LÃ³gico ===
<img src="logico.png">

In [ ]:
CREATE TABLE Sintomas(
    id long,
    tipo varchar(60),
    subtipo varchar(60),
    nome varchar(60),
    descricao text,
    PRIMARY KEY (id)
)

In [ ]:
CREATE TABLE Doenca(
    id long,
    nome varchar(60),
    descricao text,
    idCategoria long,
    PRIMARY KEY (id),
    FOREIGN KEY (idCategoria) REFERENCES Categoria-Doenca(id)
)

In [ ]:
CREATE TABLE Pessoa(
    id long,
    sexo varchar(60),
    idade int,
    PRIMARY KEY (id)
)

In [ ]:
CREATE TABLE Categoria-Doenca(
    id long,
    nomeDaCategoria varchar(60),
    idCategoriaPai long,
    PRIMARY KEY (id),
    FOREIGN KEY (idCategoriaPai) REFERENCES Categoria-Doenca(id)
)

In [ ]:
CREATE TABLE Habitos(
    id long,
    tipo varchar(60),
    subtipo varchar(60),
    nome varchar(60),
    descricao varchar(60),
    PRIMARY KEY (id)
)

In [ ]:
CREATE TABLE Pessoa-Habito(
    idPessoa long,
    idHabito long,
    frequencia varchar(60),
    intensidade varchar(60),
    FOREIGN KEY (idPessoa) REFERENCES Pessoa(id),
    FOREIGN KEY (idHabito) REFERENCES Habitos(id)
)

In [ ]:
CREATE TABLE Pessoa-sintomas(
    idPessoa long,
    idSintomas long,
    frequencia varchar(60),
    intensidade varchar(60),
    FOREIGN KEY (idPessoa) REFERENCES Pessoa(id),
    FOREIGN KEY (idSintomas) REFERENCES Sintomas(id)
)

In [ ]:
CREATE TABLE Sintoma-doenca(
    idDoenca long,
    idSintomas long,
    frequencia varchar(60),
    intensidade varchar(60),
    FOREIGN KEY (idDoenca) REFERENCES Doenca(id),
    FOREIGN KEY (idSintomas) REFERENCES Sintomas(id)
)

In [ ]:
CREATE TABLE Doenca-Pessoa(
    idDoenca long,
    idPessoa long,
    frequencia varchar(60),
    intensidade varchar(60),
    FOREIGN KEY (idDoenca) REFERENCES Doenca(id),
    FOREIGN KEY (idPessoa) REFERENCES Pessoa(id)
)

In [ ]:
INSERT INTO Pessoa (id, sexo, idade)
VALUES (1, 'masculino', 13),
    (2, 'feminino', 14),
    (3, 'masculino', 17)

In [ ]:
INSERT INTO Pessoa (id, sexo, idade)
SELECT id, sexo, idade
FROM CSVREAD('csv.csv')

In [ ]:
select *
from pessoa p
join pessoa-sintoma ps on p.id = ps.idPessoa
join sintomas s on ps.idSintomas = s.id

In [ ]:
select *
from pessoa p
join doenca-pessoa dp on p.id = dp.idPessoa
join doenca d on dp.idDoenca = d.id

In [ ]:
select avg(idade)
from pessoa
group by sexo

In [ ]:
select avg(idade)
from pessoa p
join doenca-pessoa dp on p.id = dp.idPessoa
join doenca d on dp.idDoenca = d.id
group by d.id

In [ ]:
select *
from pessoa p
join pessoa-habito ph on p.id = ph.idPessoa
join habito h on h.id = ph.idHabito